<div class="modal-body text-center p-5 mx-auto mw-100">
    <h6>Join our newsletter and get</h6>
    <h3>50% Off for your first Pair of Eye wear</h3>
    <div class="login newsletter">
        <form action="#" method="post">
            <div class="form-group">
                <label class="mb-2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="" required="">
            </div>
            <button type="submit" class="btn btn-primary submit mb-4">Get 50% Off</button>
        </form>
        <p class="text-center">
            <a href="#">No thanks I want to pay full Price</a>
        </p>
    </div>
</div>