div.styled select {
    width: 115% /* this percentage effectively extends the drop down button out of view */;
    background-color: indigo /* this hides the select's background making any styling visible from the div */;
    background: purple;
    -webkit-appearance: none /* this is required for Webkit browsers */;
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: white;
    font-size: 30px;
}